# Assignment 1 Data Wrangling I

### Importing pandas and numpy libs

In [16]:
import pandas as pd
import numpy as np

### Reading the dataset and loading into pandas dataframe

In [17]:
df=pd.read_csv('Data/first.csv')

<h3> Displaying the first 5 rows using <code>head()</code> function</h3>

In [18]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

<h3> Displaying the sum of null values in each column using <code>isnull().sum()</code> function and sorting it decending order</h3>

In [19]:
df.isnull().sum().sort_values(ascending=False)

BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Car                62
Suburb              0
Bathroom            0
Regionname          0
Longtitude          0
Lattitude           0
Landsize            0
Bedroom2            0
Address             0
Postcode            0
Distance            0
Date                0
SellerG             0
Method              0
Price               0
Type                0
Rooms               0
Propertycount       0
dtype: int64

<h3> Displaying the statistical parameter related to dataset using <code>describe()</code> function</h3>

In [20]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

<h3> Displaying the data type of each column in the data set using <code>dtypes</code></h3>

In [41]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type               int64
Price              int32
Method             int64
SellerG           object
Date              object
Distance         float64
Postcode           int32
Bedroom2           int32
Bathroom           int32
Car                int32
Landsize           int64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname         int64
Propertycount      int32
dtype: object

<h3> Displaying the number of rows and columns in the dataset using <code>shape</code></h3>

In [22]:
print('Our data set contains {} rows and {} columns'.format(df.shape[0],df.shape[1]))

Our data set contains 13580 rows and 21 columns

<h3> Displaying the basic info related to all columns in the dataset using <code>info()</code> function</h3>

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  int64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom2       13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  int64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(8)
memory usage: 2.2+ MB

<h3> Displaying the Types with value count for each category using <code>value_counts()</code> function</h3>

In [24]:
df.Type.value_counts()

h    9449
u    3017
t    1114
Name: Type, dtype: int64

<h3> Filling all the null values in Car column with mean of Car column using <code>fillna()</code> function</h3>

In [25]:
df['Car'].fillna((df['Car'].mean()),inplace=True)

<h3> Changing the data type of Price, Postcode, bedroom2, Bathroom, Car, Propertycount columns to int using <code>astype()</code> function</h3>

In [26]:
df['Price']=df['Price'].astype(int)

In [27]:
df['Postcode']=df['Postcode'].astype(int)

In [28]:
df['Bedroom2']=df['Bedroom2'].astype(int)

In [29]:
df['Bathroom']=df['Bathroom'].astype(int)

In [30]:
df['Car']=df['Car'].astype(int)

In [31]:
df['Propertycount']=df['Propertycount'].astype(int)

In [32]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price              int32
Method            object
SellerG           object
Date              object
Distance         float64
Postcode           int32
Bedroom2           int32
Bathroom           int32
Car                int32
Landsize           int64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount      int32
dtype: object

<h3> Converting the categorical varialbles in columns Type, regionname, Method to quantitative variable <code>replace()</code> function</h3>

In [33]:
df.Type.unique()

array(['h', 'u', 't'], dtype=object)

In [34]:
df['Type'].replace(['h','u','t'],[1,2,3],inplace=True)

In [35]:
df.Type.unique()

array([1, 2, 3], dtype=int64)

In [36]:
df.Regionname.unique()

array(['Northern Metropolitan', 'Western Metropolitan',
       'Southern Metropolitan', 'Eastern Metropolitan',
       'South-Eastern Metropolitan', 'Eastern Victoria',
       'Northern Victoria', 'Western Victoria'], dtype=object)

In [37]:
df['Regionname'].replace(['Northern Metropolitan','Western Metropolitan','Southern Metropolitan','Eastern Metropolitan','South-Eastern Metropolitan','Eastern Victoria','Northern Victoria','Western Victoria'],[1,2,3,4,23,5,6,7],inplace=True)

In [38]:
df.Method.unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

In [39]:
df['Method'].replace(['S','SP','PI','VB','SA'],[1,2,3,4,5],inplace=True)

In [40]:
df.Method.unique()

array([1, 2, 3, 4, 5], dtype=int64)